.single-student {
    background: #005AA7;
    background: linear-gradient(to right, #ddd6f3, #f3b5b2);
}

.students-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;*/
}